aquatrack2api.json
[
    {
        "id": "0d5f6aa92f5de943",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4b020c686c766b3",
        "type": "debug",
        "z": "0d5f6aa92f5de943",
        "name": "Pacote final",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 520,
        "wires": []
    },
    {
        "id": "eb427dc17140324f",
        "type": "function",
        "z": "0d5f6aa92f5de943",
        "name": "Nitrato",
        "func": "msg.payload = (Math.random() * (100 - 0) + 0).toFixed(2);\nmsg.payload *= 1;\nmsg.topic = \"nitrato\";\n\n// mg/L\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 680,
        "wires": [
            [
                "6e396f09c545ebca"
            ]
        ]
    },
    {
        "id": "44664f401b1859fb",
        "type": "trigger",
        "z": "0d5f6aa92f5de943",
        "name": "trigger-gerarValores",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "desligar",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "eb427dc17140324f",
                "4b66cc8dc80ddbc5",
                "3e2b5da0e96b6e9e",
                "89af4ae16642347f",
                "c93e5b55339667b3",
                "1c9c3aeebb8bc365"
            ]
        ]
    },
    {
        "id": "51a094ddbfb0e156",
        "type": "http in",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "url": "/aquapost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "55b7303f6e5b09af"
            ]
        ]
    },
    {
        "id": "4642d198200996af",
        "type": "inject",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "desligar",
        "payloadType": "str",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "44664f401b1859fb",
                "d76e01a9c6665f69"
            ]
        ]
    },
    {
        "id": "89af4ae16642347f",
        "type": "function",
        "z": "0d5f6aa92f5de943",
        "name": "Oxigenio",
        "func": "msg.payload = (Math.random() * (10 - 0) + 0).toFixed(2);\nmsg.payload *= 1;\nmsg.topic = \"oxigenio\"\n\n//mg/l\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 560,
        "wires": [
            [
                "6e396f09c545ebca"
            ]
        ]
    },
    {
        "id": "4b66cc8dc80ddbc5",
        "type": "function",
        "z": "0d5f6aa92f5de943",
        "name": "Nitrito",
        "func": "msg.payload = (Math.random() * (0.2 - 0) + 0).toFixed(2);\nmsg.payload *= 1;\nmsg.topic = \"nitrito\";\n\n// mg/L\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 740,
        "wires": [
            [
                "6e396f09c545ebca"
            ]
        ]
    },
    {
        "id": "3e2b5da0e96b6e9e",
        "type": "function",
        "z": "0d5f6aa92f5de943",
        "name": "pH",
        "func": "msg.payload = (Math.random() * (14 - 0) + 0).toFixed(0);\nmsg.payload *= 1;\nmsg.topic = \"ph\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 620,
        "wires": [
            [
                "6e396f09c545ebca"
            ]
        ]
    },
    {
        "id": "6e396f09c545ebca",
        "type": "join",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1150,
        "y": 560,
        "wires": [
            [
                "d291c71916855be4"
            ]
        ]
    },
    {
        "id": "17c113a85dbdab54",
        "type": "inject",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ligar",
        "payloadType": "str",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "44664f401b1859fb",
                "d76e01a9c6665f69"
            ]
        ]
    },
    {
        "id": "c93e5b55339667b3",
        "type": "function",
        "z": "0d5f6aa92f5de943",
        "name": "Temperatura",
        "func": "msg.payload = (Math.random() * (100 - 0) + 0).toFixed(2);\nmsg.payload *= 1;\nmsg.topic = \"temperatura\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 500,
        "wires": [
            [
                "6e396f09c545ebca"
            ]
        ]
    },
    {
        "id": "1c9c3aeebb8bc365",
        "type": "function",
        "z": "0d5f6aa92f5de943",
        "name": "Amonia",
        "func": "msg.payload = (Math.random() * (1500 - 1) + 1).toFixed(2);\nmsg.payload *= 1;\nmsg.topic = \"amonia\"\n\n// mg/L\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 440,
        "wires": [
            [
                "6e396f09c545ebca"
            ]
        ]
    },
    {
        "id": "d291c71916855be4",
        "type": "function",
        "z": "0d5f6aa92f5de943",
        "name": "Tempo",
        "func": "//const inicio = new Date('2024-10-15T00:00:00Z').getTime(); // data de início\n//const agora = Date.now();\n//const tempoDecorrido = Math.floor((agora - inicio) / 1000); // tempo em segundos\n\n\nconst today = new Date();\nconst yyyy = today.getFullYear();\nlet mm = today.getMonth() + 1; // Months start at 0!\nlet dd = today.getDate();\nlet hora = today.getHours();\nlet minutos = today.getMinutes();\nlet segundos = today.getSeconds();\n\nif (dd < 10) dd = '0' + dd;\nif (mm < 10) mm = '0' + mm;\n\nconst formattedToday = dd + '/' + mm + '/' + yyyy + \" \" + hora + \":\" + minutos + \":\" + segundos;\n\nmsg.payload = { valores: msg.payload, tempo: formattedToday };\nmsg.topic = \"Pacote\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 560,
        "wires": [
            [
                "66f64d5bce98d446"
            ]
        ]
    },
    {
        "id": "ca7e115ea5f9e0e7",
        "type": "join",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1590,
        "y": 560,
        "wires": [
            [
                "e4b020c686c766b3",
                "143b83d6f52348f9"
            ]
        ]
    },
    {
        "id": "66f64d5bce98d446",
        "type": "rbe",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "topi": "topic",
        "x": 1450,
        "y": 560,
        "wires": [
            [
                "ca7e115ea5f9e0e7"
            ]
        ]
    },
    {
        "id": "b3d16bf779f146ca",
        "type": "function",
        "z": "0d5f6aa92f5de943",
        "name": "gerarId",
        "func": "msg.payload = {_id: Date.now().toString()}\nmsg.topic = \"id\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 340,
        "wires": [
            [
                "66f64d5bce98d446"
            ]
        ]
    },
    {
        "id": "d76e01a9c6665f69",
        "type": "trigger",
        "z": "0d5f6aa92f5de943",
        "name": "trigger-Id",
        "op1": "",
        "op2": "0",
        "op1type": "date",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "desligar",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "b3d16bf779f146ca"
            ]
        ]
    },
    {
        "id": "143b83d6f52348f9",
        "type": "cloudantplus out",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "cloudant": "de7456ba9a517de7",
        "database": "aquateste5",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 1790,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "51ef35068fb4a3fe",
        "type": "http in",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "url": "/aquaget",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 720,
        "wires": [
            [
                "b247d0aec1a8d454"
            ]
        ]
    },
    {
        "id": "13deccad417675c1",
        "type": "http response",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 760,
        "wires": []
    },
    {
        "id": "b247d0aec1a8d454",
        "type": "cloudantplus in",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "cloudant": "de7456ba9a517de7",
        "database": "aquateste5",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 490,
        "y": 720,
        "wires": [
            [
                "13deccad417675c1",
                "9ba1847e5937812c"
            ]
        ]
    },
    {
        "id": "6e5449e605036c66",
        "type": "http in",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "url": "/aquaquery",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 840,
        "wires": [
            [
                "dd1888c3a7a1554e"
            ]
        ]
    },
    {
        "id": "dd1888c3a7a1554e",
        "type": "cloudantplus in",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "cloudant": "de7456ba9a517de7",
        "database": "aquateste5",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "tempo",
        "x": 490,
        "y": 800,
        "wires": [
            [
                "5087e2b1cbfa57f8",
                "13deccad417675c1"
            ]
        ]
    },
    {
        "id": "5087e2b1cbfa57f8",
        "type": "debug",
        "z": "0d5f6aa92f5de943",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 840,
        "wires": []
    },
    {
        "id": "9fa3891059f7b79e",
        "type": "inject",
        "z": "0d5f6aa92f5de943",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"_id\":\"7603\"}",
        "payloadType": "json",
        "x": 310,
        "y": 760,
        "wires": [
            [
                "dd1888c3a7a1554e"
            ]
        ]
    },
    {
        "id": "9ba1847e5937812c",
        "type": "debug",
        "z": "0d5f6aa92f5de943",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "55b7303f6e5b09af",
        "type": "function",
        "z": "0d5f6aa92f5de943",
        "name": "function 2",
        "func": "if (msg.payload.pacote == \"desligar\") {\n    msg.payload = \"desligar\"\n    return msg;\n} else {\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 560,
        "wires": [
            [
                "d76e01a9c6665f69",
                "44664f401b1859fb"
            ]
        ]
    },
    {
        "id": "de7456ba9a517de7",
        "type": "cloudantplus",
        "host": "https://8685b21f-dcdc-4864-a9bc-84e5121ccc12-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "Credencial4",
        "useapikey": true
    }
]